@font-face {
  font-family: 'playfair';
  src: url("../fonts/play-fair/static/PlayfairDisplay-Black.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/play-fair/static/PlayfairDisplay-Medium.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/play-fair/static/PlayfairDisplay-Regular.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/play-fair/static/PlayfairDisplay-SemiBold.ttf");
  /* IE9 Compat Modes */ }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.section {
  margin-top: 6rem; }
  .section .section-row {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 760px) {
    .section .section-row {
      margin-bottom: 0; } }
  .section .phone-section-row {
    margin-bottom: 2rem; }

.header-parent {
  height: 100vh;
  position: relative;
  background: url(../images/header/header-img-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header-parent .first-headline {
    font-family: 'playfair';
    color: transparent;
    -webkit-text-stroke: 1px #FFF122;
    letter-spacing: 2px;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 9%; }

#fill-color {
  color: #FFF122;
  -webkit-text-stroke: 0px #FFF122; }

.st3 {
  fill: none;
  stroke: #FFF122;
  stroke-miterlimit: 10; }

#portfolio {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translate(-50%, 0); }
  #portfolio path:nth-child(1) {
    stroke-dasharray: 396px;
    stroke-dashoffset: 396px;
    animation: line-anim 2s ease forwards; }
  #portfolio path:nth-child(2) {
    stroke-dasharray: 327px;
    stroke-dashoffset: 327px;
    animation: line-anim 2s ease forwards 0.2s; }
  #portfolio path:nth-child(3) {
    stroke-dasharray: 330px;
    stroke-dashoffset: 330px;
    animation: line-anim 2s ease forwards 0.2s; }
  #portfolio path:nth-child(4) {
    stroke-dasharray: 344px;
    stroke-dashoffset: 344px;
    animation: line-anim 2s ease forwards 0.3s; }
  #portfolio path:nth-child(5) {
    stroke-dasharray: 396px;
    stroke-dashoffset: 396px;
    animation: line-anim 2s ease forwards 0.4s; }
  #portfolio path:nth-child(6) {
    stroke-dasharray: 391px;
    stroke-dashoffset: 391px;
    animation: line-anim 2s ease forwards 0.5s; }
  #portfolio path:nth-child(7) {
    stroke-dasharray: 337px;
    stroke-dashoffset: 337px;
    animation: line-anim 2s ease forwards 0.6s; }
  #portfolio path:nth-child(8) {
    stroke-dasharray: 292px;
    stroke-dashoffset: 292px;
    animation: line-anim 2s ease forwards 0.7s; }
  #portfolio path:nth-child(9) {
    stroke-dasharray: 396px;
    stroke-dashoffset: 396px;
    animation: line-anim 2s ease forwards 1s; }
@keyframes line-anim {
  to {
    stroke-dashoffset: 0; } }
.red {
  background-color: red; }

.one {
  position: relative; }
  .one:after {
    content: "01";
    position: absolute;
    z-index: 2;
    font-size: 6rem;
    top: -32px;
    left: -29px;
    font-family: playfair;
    color: transparent;
    -webkit-text-stroke: 2px #FFF122;
    letter-spacing: 3px;
    transition: 0.5s ease-out; }
  .one.two:after {
    content: "02"; }
  .one.three:after {
    content: "03"; }
  .one.four:after {
    content: "04"; }
  .one:hover:after {
    transform: translate(0, -50px); }

/*# sourceMappingURL=style.css.map */
