.section{
  margin-top: 6rem;
  .section-row{
    margin-bottom: 3rem;

  }

  // Unter dem Brakpoint medium
  @include resp(760px){
    .section-row{ margin-bottom: 0;}
  }
  .phone-section-row{
    margin-bottom: 2rem;
  }

}

