//Farben

.grey{
  color: $grey;
}
a{
  color: $color-text;
}

.center{text-align: center}

.margin-top{
  margin: 1rem 0;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  &.-centered{ justify-content: center}
  &.-around{ justify-content: space-around}
  &.-between{ justify-content: space-between}

  @include resp(567px){
  justify-content: center;
  }
}

