:root {
  --firstcolor: #FFF122;
}

//basic styles

h1, h2, h3{
  font-family: 'playfair';
}
p{
  font-family: 'Oswald';
}

//basic Klassen

.txt-center{text-align: center;}
.overflow-hidden{ overflow: hidden;}
.display-none{display: none;}


.section{
  margin-top: 6rem;
  .section-row{
    margin-bottom: 3rem;

  }

  // Unter dem Brakpoint medium

  .phone-section-row{
    margin-bottom: 2rem;
  }




}

