@font-face {
  font-family: 'playfair';
  src: url('../fonts/play-fair/static/PlayfairDisplay-Black.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/play-fair/static/PlayfairDisplay-Medium.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/play-fair/static/PlayfairDisplay-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/play-fair/static/PlayfairDisplay-SemiBold.ttf'); /* IE9 Compat Modes */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}