.header-parent{
  height: 100vh;
  position: relative;
  background: url(../images/header/header-img-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header-child{
    height: 100vh;
  }

  .first-headline{
    font-family: 'playfair';
    color: transparent;
    font-size: clamp(1rem,5.5vw,8rem);
    -webkit-text-stroke: 1px var(--firstcolor);
    letter-spacing: 2px;
    top: 50%;
    left: 9%;

  }
}
//Animation
#fill-color{
  color: var(--firstcolor);
  -webkit-text-stroke: 0px  var(--firstcolor);
}

//.st1{font-family:'TwCenMT-Regular';}
.st3{fill:none;stroke:var(--firstcolor);stroke-miterlimit:10;}
#portfolio{


  path:nth-child(1){
    stroke-dasharray: 396px; stroke-dashoffset: 396px;
    animation: line-anim 2s ease forwards;
  }
  path:nth-child(2){
    stroke-dasharray: 327px; stroke-dashoffset: 327px;
    animation: line-anim 2s ease forwards 0.2s;
  }
  path:nth-child(3){
    stroke-dasharray: 330px; stroke-dashoffset: 330px;
    animation: line-anim 2s ease forwards 0.2s;
  }
  path:nth-child(4){
    stroke-dasharray: 344px; stroke-dashoffset: 344px;
    animation: line-anim 2s ease forwards 0.3s;
  }
  path:nth-child(5){
    stroke-dasharray: 396px; stroke-dashoffset: 396px;
    animation: line-anim 2s ease forwards 0.4s;
  }
  path:nth-child(6){
    stroke-dasharray: 391px; stroke-dashoffset: 391px;
    animation: line-anim 2s ease forwards 0.5s;
  }
  path:nth-child(7){
    stroke-dasharray: 337px; stroke-dashoffset: 337px;
    animation: line-anim 2s ease forwards 0.6s;
  }
  path:nth-child(8){
    stroke-dasharray: 292px; stroke-dashoffset: 292px;
    animation: line-anim 2s ease forwards 0.7s;
  }
  path:nth-child(9){
    stroke-dasharray: 396px; stroke-dashoffset: 396px;
    animation: line-anim 2s ease forwards 1s;
  }
  @keyframes line-anim{
    to{
      stroke-dashoffset: 0;
    }
  }
}